@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
    background-color: rgb(255, 251, 240);
    margin: 0px;
}

button {
    height: 60px;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Rajdhani', sans-serif;
    background-color: whitesmoke;
}

button:hover {
    transform: scale(1.02);
}

.btnOperator#reset {
    background-color: rgb(198, 0, 79)
}

.btnOperator#equals {
    background-color: rgb(0, 129, 28);
    width: 3fr;
    grid-area: 5/1/6/4;
}

.calculator {
    display: block;
    border: 3px solid black;
    border-radius: 15px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(186, 187, 189);
    box-shadow: 3px 3px 1px 1px lightgrey;
}

.calcDisplay {
    background-color: whitesmoke;
    margin: 12px;
    margin-top: 15px;
    width: 370px;
    height: 100px;
    border: 3px solid black;
    border-radius: 10px;
}

.calcDisplayLeft {
    width: 48%;
    float: left;
}

.calcDisplayRight {
    width: 48%;
    float: right;
    text-align: end;
}

#top {
    height: 50%;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#bottom {
    height: 50%;
    overflow: auto;
    overflow-y: hidden
}

.calculatorBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    padding-top: 10px;
}

.header {
    position: absolute;
    top: 0;
    height: 12%;
    width: 100%;
    text-align: center;
    vertical-align: top;
    background-color: rgb(219, 223, 226);
    border-bottom: 2px solid grey;
    transition: translate 1s;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 30px;
    text-align: center;
    background-color: rgb(219, 223, 226);
    border-top: 2px solid grey;
    animation-name: fadeIn, fadeOut;
    animation-duration: 1s, 2s;

}

/* animations */
@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%
    }
}

@keyframes moveHeader {
    from {
        transform: translate(0, 0)
    }
    to{
        transform: translate(0, -12%)
    }
}

@keyframes moveFooter {
    from { 
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, 30px)
    }
}

.fadeInHeader{
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
.fadeOutHeader{
    animation-name: fadeOut, moveHeader;
    animation-duration: 0.6s, 0.7s;
    animation-fill-mode: forwards;
}

.fadeInFooter{
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.fadeOutFooter{
    animation-name: fadeOut, moveFooter;
    animation-duration: 0.6s, 0.7s;
    animation-fill-mode: forwards;
}

/* fonts */
p {
    margin: 10px;
    font-size: 28;
    font-family: 'Rajdhani', sans-serif;
}

p#footer {
    margin: 10px;
    font-size: 12;
    font-family: 'Rajdhani', sans-serif;
    color: grey;
}

a {
    color: grey;
    text-decoration: none;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10vh;
    display: inline;
    color: rgb(34, 32, 32);
    text-shadow: 2px 2px darkgrey;
}